In [1]:
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [5]:
L[-3]

'Michael Jackson'

In [6]:
L[-2]

10.1

In [7]:
L[-1]

1982

In [11]:
print("the same element using negative and positive indexing:\n Positive:", L[0], 
      " \n Negative:", L[-3])

the same element using negative and positive indexing:
 Positive: Michael Jackson
 Negative: Michael Jackson

In [14]:
print("the same element using negative and positive indexing:\n Positive:", L[1], 
      "\n Negative: ", L[-2])

the same element using negative and positive indexing:
 Positive: 10.1
 Negative:  10.1

In [15]:
print("the same element usig negative and positive indexing:\n Positive:", L[2], "\n Negative:", L[-1])

the same element usig negative and positive indexing:
 Positive: 1982
 Negative: 1982

In [17]:
L = ["Michael Jackson", 10.1, 1982, "MJ", 1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [18]:
L[3:5]

['MJ', 1]

In [19]:
L = ["Michael Jackson", 10.2]
L.extend(["pop", 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [21]:
L = ["Michael Jackson", 10.2]
L.append(["pop", 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [24]:
L = ["Michael Jackson", 10.2]
L.extend(["pop", 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [25]:
L.append(["a","b"])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [26]:
A =["disco", 10, 1.2]
print("before change;", A)
A[0] = "hard rock"
print("after change:", A)

before change; ['disco', 10, 1.2]
after change: ['hard rock', 10, 1.2]

In [28]:
print("before change:", A)
del(A[0])
print("after change:", A)

before change: ['hard rock', 10, 1.2]
after change: [10, 1.2]

In [29]:
print("before change:", A)
del(A[1])
print("After change:", A)

before change: [10, 1.2]
After change: [10]

In [30]:
"hard rock".split()

['hard', 'rock']

In [33]:
A = ["hard rock", 10, 1.2]
B=A
print("A:", A)
print("B:", B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [34]:
print("B[0]:", B[0])
A[0] = "banana"
print("B[0]:", B[0])

B[0]: hard rock
B[0]: banana

In [35]:
B = A[:]
B

['banana', 10, 1.2]

In [37]:
print("B[0]:", B[0])
A[0] = "hard rock"
print("B[0]:", B[0])

B[0]: banana
B[0]: banana

In [39]:
# Create a list a_list wiht elements 1, hello, [1,2,3] and True
a_list = [1, "hello", [1, 2, 3], True]
a_list

[1, 'hello', [1, 2, 3], True]

In [47]:
# Find a value stored at index 1 of a_list
a_list[1]

'hello'

In [48]:
# Find the elements stored at index 1,2 and 3 of a_list
a_list[1:4]

['hello', [1, 2, 3], True]

In [49]:
# Concatenate the following list A = [1, "a"] and B = [2, 1, "d"]
A = [1, "a"]
B = [2, 1, "d"]
A + B

[1, 'a', 2, 1, 'd']